@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
header,
footer,
nav,
section,
aside,
menu,
audio,
video,
details,
article,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* помните об определении стиля focus! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* для таблиц надо устанавливать в разметке 'cellspacing="0"' */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: """";
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}


:root {
  --coral: #eb7e7f;
  --greeny: #4EBC9B;
  --lamppost: #4a4f56;
  --lamppostopacity: rgba(74, 79, 86, .25);

  --radius: 3px;
}

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: Trebuchet, Arial, sans-serif;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3b3f45;
  padding-bottom: 42px;
  position: relative;
}

header {
  background-color: var(--lamppost);
  text-align: center;
  padding: 25px 0;
  color: var(--coral);
  margin-bottom: 42px;
  border-bottom: 1px solid rgba(195, 195, 195, .4);
  position: relative;
  z-index: 2;
}

header h1 {
  font-weight: bold;
  font-size: 2.06rem;
  line-height: 42px;
  margin-bottom: 8px;
  padding: 0 60px;
  margin: 0;
}

.header__wrap {
  position: relative;
}

.btn-show_form {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0;
  text-align: center;
  font-size: 50px;
  line-height: 0;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  color: var(--coral);
  transition: all .25s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.btn-show_form.show {
  transform: translateY(-50%) rotate(45deg);
}

.mainer {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.checklist {
  margin: 42px 0;
}

.checklist label {
  display: block;
  cursor: pointer;
  color: #fff;
  padding: 12px 75px 12px 50px;
  position: relative;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.checklist label:nth-child(odd) {
  background-color: #88839e;
}

.checklist label:nth-child(even) {
  background-color: #7a7593;
}

.checklist label:hover {
  border-color: #fff;
  background-color: #625e77;
}

.checklist label:active {
  background-color: var(--greeny);
}

.checklist label span {
  line-height: 1.1;
  font-size: 1.6rem;
}

.checklist label small {
  color: #c3c3c3;
  font-size: 16px;
}

.checklist label small:before {
  content: '(';
}

.checklist label small:after {
  content: ')';
}

.checklist input {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.checklist input:checked~* {
  text-decoration: line-through;
  color: #c3c3c3;
  opacity: .7;
}

.install-button {
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  display: inline-block;
  color: #fff;
  padding: 10px 0;
  background-color: var(--coral);
  position: relative;
  z-index: 2;
  text-decoration: underline;
}

.btn {
  color: #fff !important;
  text-decoration: none !important;
  border-radius: var(--radius);
  transition: all .25s;
  opacity: 0.7;
}

.btn-more {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  right: 19px;
  font-size: 32px;
  padding: 0px 10px 18px;
  z-index: 1;
}

.btn-more:hover {
  background-color: var(--coral);
  opacity: 1;
}

.btn-more.hide {
  display: none;
}

.btn-del,
.btn-edit,
.btn-notice {
  font-size: 20px;
  padding: 11px 14px;
  background-color: var(--coral);
  opacity: 1;
}

.hidden-actions {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none !important;
  z-index: 2;
  opacity: 1 !important;
  padding: 19px;
  height: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  gap: 5px;
  align-items: center;
}

.hidden-actions.active {
  display: flex;
}

.set {
  background-color: #88839e;
  padding: 12px 15px;
  gap: 15px;
  flex-wrap: wrap;
  display: none;
  transition: all .25s;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.set.show {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.set__control {
  border-radius: var(--radius);
  border: none;
  font-family: Trebuchet, Arial, sans-serif;
  outline: none;
  padding: 10px 15px;
  min-height: 50px;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  transition: all .25s;
}

.set__control.border {
  border: 1px solid var(--lamppostopacity);
}

.set__control::placeholder {
  opacity: .5;
  transition: all .25s;
}

.set__control:focus::placeholder {
  opacity: 0;
}

.set__input {
  flex-grow: 1;
  color: rgba(0, 0, 0, .7);
  border: 1px solid transparent;
}

.set__input.error {
  border-color: var(--coral);
}

.set__input.error::placeholder {
  color: var(--coral);
  opacity: 1;
}

.set__input.error:focus::placeholder {
  opacity: 0;
}

.set__btn {
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--greeny);
  color: #fff;
  transition: all .25s;
  font-size: 24px;
}

.set__btn:hover {
  transform: scale(.98);
}

.notice {
  position: absolute;
  width: 320px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: var(--radius);
  padding: 30px 15px;
  text-align: center;
  box-sizing: border-box;
}

.notice fieldset {
  display: flex;
  gap: 10px;
}

.notice .set__control {
  margin-top: 10px;
}

.notice__wrap {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 3;
  display: none;
}

.notice__wrap.show {
  display: block;
}

.notice__title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.7em;
  line-height: 1.3;
}

.notice-time {
  margin-top: 10px;
  font-size: 12px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iI2ZmZmZmZiI+CiA8cGF0aCBkPSJtMjMuOTkgNGMtMTEuMDUgMC0xOS45OSA4Ljk1LTE5Ljk5IDIwczguOTQgMjAgMTkuOTkgMjBjMTEuMDUgMCAyMC4wMS04Ljk1IDIwLjAxLTIwcy04Ljk2LTIwLTIwLjAxLTIwem0wLjAxIDM2Yy04Ljg0IDAtMTYtNy4xNi0xNi0xNnM3LjE2LTE2IDE2LTE2IDE2IDcuMTYgMTYgMTYtNy4xNiAxNi0xNiAxNnoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgogPHBhdGggZD0ibTI1IDE0aC0zdjEybDEwLjQ5IDYuMyAxLjUxLTIuNDYtOS01LjM0eiIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  min-height: 18px;
  padding-left: 24px;
  padding-top: 5px;
  text-decoration: none !important;
}

.notice-time.closed {
  text-decoration: line-through !important;
  opacity: 0.5 !important;
}

.notice__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 30px;
  opacity: 0.3;
}



/* Media */
@media screen and (max-width: 768px) {
  header {
    margin-bottom: 30px;
    padding: 10px 0;
  }

  header h1 {
    font-size: 24px;
  }

  .set-list {
    padding: 0;
  }

  .set {
    gap: 10px;
    padding: 10px;
  }

  .checklist {
    margin: 30px 0;
  }

  .checklist input {
    width: 20px;
    height: 20px;
    left: 10px;
  }

  .checklist label {
    padding-left: 45px;
  }
}